body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #343a40, #f8f9fa);
  margin: 0;
  padding: 0;
}

.container {
  background: #ffffff; 
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
}

h1 {
  text-align: center;
  background: linear-gradient(to right, #007bff, #6610f2);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

p {
  color: #333;
}

.navbar {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffc107 !important;
}

.navbar-brand:hover {
  color: #ffdd57 !important;
}

.nav-link {
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffc107 !important;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #007bff;
}

.card-body {
  background: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #333;
  color: #ffffff;
  font-size: 0.9rem;
}